<header class="flex h-20 w-screen items-center justify-between bg-teal-500 px-8">
  <h1 class="text-lg font-semibold text-white">Gerenciamento de Laboratórios</h1>
  <div class="space-x-4">
    <button type="button" data-modal-target="request-register-modal" data-modal-toggle="request-register-modal" class="font-medium hover:underline">Solicitar Cadastro</button>
    <button type="button" data-modal-target="login-modal" data-modal-toggle="login-modal" class="rounded-lg bg-white px-3 py-2 font-medium shadow-sm shadow-teal-700 hover:bg-slate-100">Entrar</button>
  </div>
</header>

<app-modal-register></app-modal-register>
<app-modal-login></app-modal-login>
