<div class="flex h-screen flex-col items-center justify-between">
  <app-header-loggedout></app-header-loggedout>
  <main class="flex grow w-screen items-center justify-around overflow-y-scroll ps-4 py-4">
    <div class="flex flex-col space-y-2">
      <app-card-session></app-card-session>
      <app-card-session></app-card-session>
      <app-card-session></app-card-session>
      <app-card-session></app-card-session>
      <app-card-session></app-card-session>
    </div>
  </main>
  <app-footer></app-footer>
</div>
